<h1>Dish Show Page</h1>
<p>Name: <%= @dish.name %></p>
<p>Description: <%= @dish.description %></p>
<p>Ingredients: <% @dish.ingredients.each do |i| %>
                    <li><%= i.name %></li>
                    <% end %></p>                
<p>Total Calories: <%= @dish.total_calories %></p>
<p>Chef's Name: <%= @dish.chef.name %></p>